* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #25043f;
}

/* For Testing */
[data-color="#333333"] {
    background-color: #333333;
    color: #ffffff;
}

[data-color="#000000"] {
    background-color: #000000;
    color: #ffffff;
}
[data-color="#111111"] {
    background-color: #111111;
    color: #ffffff;
}

[data-color="#222222"] {
    background-color: #222222;
    color: #ffffff;
}
[data-color="#444444"] {
    background-color: #444444;
    color: #ffffff;
}
/**/

.colors {
    display: flex;
    flex-direction: row;
    width: 100svw;
    height: 100svh;
    justify-content: center;
    align-items: end;
}

.color {
    flex: 1;
    height: 85svh;
    display: grid;
    place-items: center;
    font-size: 1.5em;
}